.navigation-bar {
    background-color: rgb(211, 232, 247);
    color: gray;
    padding: 10;
  }
  
  .navigation-link {
    margin-right: 20;
    font-size: 30;
    color: gray;
    padding: 40;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  